%h1 Listing department_blocks

%table
  %tr
    %th Start time
    %th End time
    %th Suggested number of workers
    %th
    %th
    %th

  - @department_blocks.each do |department_block|
    %tr
      %td= department_block.start_time_id
      %td= department_block.end_time_id
      %td= department_block.suggested_number_of_workers
      %td= link_to 'Show', department_block
      %td= link_to 'Edit', edit_department_block_path(department_block)
      %td= link_to 'Destroy', department_block, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Department block', new_department_block_path
