.row
  .span9
    %h2 Edit #{@department.name}

.row
  .span4
    %h3
      %i.halflings-icon.edit
      Department Assistants

    - if @department.department_assistants.length == 0
      .alert.alert-error
        %strong Warning!
        No Department Assistants Assigned 
      %button.btn.btn-primary{:type=>"button", :href=> "#assign_department_assistants", :data => {:toggle => "modal"}} 
        Assign Department Assistants

    - else 
      %table.table.table-bordered.table-striped
        %tr
          %th Name
          %th Actions
        - @department.department_assistants.each do |department_assistant|
          %tr
            %td= department_assistant.user.full_name
            %td
              = link_to admin_department_assistant_path(department_assistant), :confirm => 'Are you sure?', :method => :delete, :remote=>true, :"data-type" => "json", :class => 'unassign-department-assistant btn btn-danger' do
                %i.icon-remove-sign.icon-white
                Unassign

      %button.btn.btn-primary{:type=>"button", :href=> "#assign_department_assistants", :data => {:toggle => "modal"}} 
        Assign Department Assistants

  .span7.offset1#promote-users{"data-url" => for_promote_dashboard_department_path(@department)}
    %h3
      %i.halflings-icon.edit
      Promote Users

    .dataTables_length
      %label
        Show
        %select.per-page-field{:size => "1", "data-table" => "promote-users"}
          %option{:selected => "selected", :value => "10"} 10
          %option{:value => "25"} 25
          %option{:value => "50"} 50
          %option{:value => "100"} 100
        entries
    .dataTables_filter
      %label
        Search:
        %input.search-field{ :type => "text", "data-table" => "promote-users" }

    %table.table.table-bordered.table-striped#promote-table{ "data-table" => "promote-users" }
      %thead
        %th.sortable.sorting.sorting_asc.name{"data-ordering" => "asc"} Name
        %th Email
        %th.sortable.sorting.role Current Role
        %th Actions
      %tbody
        = render "promote_items", users: @users

    %div.pagination-wrapper
      %div#pagination-promote-users
        = paginate @users, remote: true, params: { controller: "dashboard/departments", action: "for_promote" }
      %div#pagination-info-promote-users
        = page_entries_info @users

                    


%div{:class =>"modal large hide fade", :id => "assign_department_assistants"}
  .modal-header
    %button{:type=>"button", :class=>"close", :data => {:dismiss=>"modal"}}
      &times;
    %h3 Assign Department Assistants
  .modal-body#assistants{ "data-url" => assistants_dashboard_department_path(@department) }
    - if @department_assistants.length == 0
      .alert.alert-error
        %strong Warning!
        No Department Assistants Available. You need to promote a volunteer to the Department Assistant role before you can assign them to this department.
    - else
      %p Here is a list of users you can add as a Department Assistant
      .dataTables_length
        %label
          Show
          %select.per-page-field{:size => "1", "data-table" => "assistants"}
            %option{:selected => "selected", :value => "10"} 10
            %option{:value => "25"} 25
            %option{:value => "50"} 50
            %option{:value => "100"} 100
          entries
      .dataTables_filter
        %label
          Search:
          %input.search-field{:type => "text", "data-table" => "assistants"}

      %table.table.table-bordered.table-striped#assistants-table{ "data-table" => "assistants" }
        %thead
          %th.sortable.sorting.sorting_asc.name{"data-ordering" => "asc"} Name
          %th Email
          %th Assign as Department Assistant
        %tbody
          = render "assign_items", items: @department_assistants
      %div.pagination-wrapper
        %div#pagination-assistants
          = paginate @department_assistants, remote: true, params: { controller: "dashboard/departments", action: "assistants" }
        %div#pagination-info-assistants
          = page_entries_info @department_assistants