.row
  .span12
    .span6
      %h2
        %i.halflings-icon.edit 
        = "Department: #{@department.name}"

    - if can? :manage, :all
      .span5
        %p.span2 
          %br
          Quick Jump:
        %br
        = select_tag("department_block_department_chooser", options_from_collection_for_select(Department.all, "id", "name"), :class => "span3", :include_blank => true)


.row
  %br
  .span12
    %ul.nav.nav-tabs
      - ordered_days = get_day_ordered
      - ordered_days.each_with_index do |day, index|
        %li{:class => index == 0 ? "active" : ""}
          %a{:href=>"##{day[:safe_short_date]}", :data=> {:toggle=>"tab"}}
            = day[:short_date]

    .tab-content
      - ordered_days.each_with_index do |day, index|
        %div{:id => "#{day[:safe_short_date]}", :class => index == 0 ? "active tab-pane" : "tab-pane"}
          %br
          %table.table.table-bordered.table-striped
            %tr
              %th Name
              %th Start Time
              %th End Time
              %th Suggested Number of Workers
              %th
              %th

            - day[:time_slots].each do |timeslot|
              - @department_blocks = DepartmentBlock.where(:department_id => @department.id, :start_time_id => timeslot[:time_slot_id])
              - @department_blocks.each do |department_block|
                %tr
                  %td= link_to "#{department_block.name}", dashboard_department_block_path(department_block)
                  %td= department_block.start_time.readable_short_time
                  %td= department_block.end_time.readable_short_time
                  %td= department_block.suggested_number_of_workers
                  %td= link_to 'Edit', edit_dashboard_department_block_path(department_block)
                  %td= link_to('Destroy', dashboard_department_block_path(department_block), :method => :delete, data: { confirm: 'Are you sure?' })

          = link_to(new_dashboard_department_block_path) do
            %button.btn.btn-primary{:type=>"button", :href=> "#modal_#{day[:safe_short_date]}", :data => {:toggle => "modal"}} 
              Create Department Block

          %div{:class =>"modal hide fade", :id => "modal_#{day[:safe_short_date]}"}
            .modal-header
              %button{:type=>"button", :class=>"close", :data => {:dismiss=>"modal"}}
                &times;
              %h3 Create a Department Block
            .modal-body
              = render 'dashboard/department_blocks/new', :time_list => day[:time_slots], :department_id => "@department.id"