.row
  .span6
    %h2
      = "Department: #{@department.name}"

  - if can? :manage, :all
    .span4.offset2
      %br
      %p.quick-jump
        Quick Jump:
      = select_tag("department_block_department_chooser", options_from_collection_for_select(Department.order("name"), "id", "name", @department.id), :class => "span3")
%hr
.row
  .span4
    .progress
      .bar{:class => get_department_usage_class(@department.estimated_hours, @department.budgeted_hours), :style => "width: #{get_department_usage(@department.estimated_hours, @department.budgeted_hours)}%;"}

    %h4 Budgeted Hours Progress
    %p
      %strong Estimated Hours:
      =@department.estimated_hours

      %strong Budgeted Hours:
      =@department.budgeted_hours

  .span4

    .progress
      .bar{:class => get_department_usage_class(@department.scheduled_department_block_slots, @department.total_department_block_slots), :style => "width: #{get_department_usage(@department.scheduled_department_block_slots, @department.total_department_block_slots)}%;"}
    %h4 Block Scheduling Progress
    %p
      %strong
        Scheduled Slots:
      =@department.scheduled_department_block_slots

      %strong
        Total Slots:
      =@department.total_department_block_slots
%hr

.row
  %br
  %br
  .span12
    %ul.nav.nav-tabs
      - @days.each_with_index do |day, index|
        %li{:class => index == 0 ? "active" : ""}
          %a{:href=>"##{day.safe_short_date}", :data=> {:toggle=>"tab"}}
            = day.day_name
            = day.short_date

    .tab-content
      - @days.each_with_index do |day, index|
        %div{:id => "#{day.safe_short_date}", :class => index == 0 ? "active tab-pane" : "tab-pane"}
          -if index == 0
            %h3= day.short_date_with_long_day
            %table.table.table-bordered.table-striped.dataTablesWithoutPagination{:id=>"blocks#{day.safe_short_date}"}
              %thead
                %th Name
                %th Start Time
                %th End Time
                %th Suggested Number of Volunteers
                %th Scheduled Volunteers
                %th Actions


              - day.department_blocks.where(department_id: @department.id).all.each do |department_block|
                %tr
                  %td= link_to "#{department_block.name}", dashboard_department_block_path(department_block)
                  %td= in_twelve_hour_time(department_block.start_time)
                  %td= in_twelve_hour_time(department_block.end_time)
                  %td= department_block.suggested_number_of_workers
                  %td
                    = department_block.users.length
                    \/
                    = department_block.suggested_number_of_workers
                  %td
                    - if current_user.role? "department_manager"
                      = link_to 'Edit', edit_dashboard_department_block_path(department_block), class: "btn btn-warning"
                      = link_to('Delete', dashboard_department_block_path(department_block), remote: true, class: "btn btn-danger delete-department-block", :method => :delete, data: { confirm: 'Are you sure?', type: "json" })


            %br

            %br
            - if current_user.role? "department_manager"
              = link_to(new_dashboard_department_block_path) do
                %button.btn.btn-primary{:type=>"button", :href=> "#modal_#{day.safe_short_date}", :data => {:toggle => "modal"}, class: "create_department_block"}
                  Create Department Block

              = link_to(new_dashboard_department_block_path) do
                %button.btn.btn-info{:type=>"button", :href=> "#copy_schedule_modal_#{day.id}", :data => {:toggle => "modal"}}
                  Copy Blocks to Another Day


              = link_to("#{@department.id}/export/#{day.year}/#{day.month}/#{day.mday}") do
                %button.btn.btn-warn{:type=>"button", :href=> "#modal_#{day.safe_short_date}"}
                  Export Blocks


              %div{:class =>"modal hide fade", :id => "modal_#{day.safe_short_date}"}
                .modal-header
                  %button{:type=>"button", :class=>"close", :data => {:dismiss=>"modal"}}
                    &times;
                  %h3 Create a Department Block
                .modal-body
                  = render 'dashboard/department_blocks/new', :department => @department, :current_day => day

              %div{:class =>"modal hide fade", :id => "copy_schedule_modal_#{day.id}"}
                .modal-header
                  %button{:type=>"button", :class=>"close", :data => {:dismiss=>"modal"}}
                    &times;
                  %h3 Choose Day to Copy To
                .modal-body
                  = render 'dashboard/department_blocks/copy', :day_to_copy => day, :department => @department
:javascript
  $(function() {
    window.initDepartmentsShowPage();
  })
