%h2
	= current_user.full_name
%h3
	= current_user.role.camelize
%br
%br

%ul.thumbnails
	%li.span3
		.thumbnail
			.caption
				%h4 View Your Time Availabilitiy
				%p View and edit your volunteer time availability 
				%p 
					= link_to("View Availability", "/dashboard/user_availabilities", :class => "btn btn-block btn-primary")
	- if can? :manage, DepartmentBlock  
		- if can? :manage, :all
			%li.span3
				.thumbnail
					.caption
						%h4 Manage Time Blocks
						%p Create blocks of time allocated to certain groups and/or tasks and assign individual volunteers to your blocks!
						%p 
							= link_to("Setup Blocks", dashboard_department_path(Department.first), :class => "btn btn-block btn-primary")
		- elsif current_user.department_manager
			%li.span3
				.thumbnail
					.caption
						%h4 Manage Time Blocks
						%p Create blocks of time allocated to certain groups and/or tasks and assign individual volunteers to your blocks!
						%p 
							= link_to("Setup Blocks", [:dashboard,current_user.department_manager.department], :class => "btn btn-block btn-primary")
			%li.span3
				.thumbnail
					.caption
						%h4 Manage Your Department
						%p Assign a Lt. Department Manager for your department
						%p 
							= link_to("Manage", [:edit, :dashboard, current_user.department_manager.department], :class => "btn btn-block btn-primary")
		- else 
			%li.span3
				.thumbnail
					.caption
						%h4 Manage Time Blocks
						%p You are a Department Manager but have not yet been assigned a Department. Please contact an Event Admin.

	/ 	%li.span6
	/ 		.thumbnail
	/ 			.caption
	/ 				%h4 Flag Messages

	/ 				.well
	/ 					%table.table.table-condensed.table-hover
	/ 						%thead
	/ 							%tr
	/ 								%th.span1
	/ 								%th.span2
	/ 								%th.span2
	/ 								%th.span9
	/ 								%th.span2
	/ 						%tbody
	/ 							%tr
	/ 								%td
	/ 									%a{:href => "#"}
	/ 										%i.icon-flag
	/ 								%td
	/ 									%strong Lali Garcia
	/ 								%td
	/ 									%span.label.label-warning.pull-right No Show
	/ 								%td
	/ 									%strong Message body goes here
	/ 								%td
	/ 									%strong 11:23 PM
	/ 							%tr
	/ 								%td
	/ 									%a{:href => "#"}
	/ 										%i.icon-flag
	/ 								%td Amy Jallinger
	/ 								%td
	/ 									%span.label.label-important.pull-right Time Error
	/ 								%td Message body goes here
	/ 								%td Sept4
	/ 							%tr
	/ 								%td
	/ 									%a{:href => "#"}
	/ 										%i.icon-flag
	/ 								%td
	/ 									%strong Robert Tulchin
	/ 								%td
	/ 									%span.label.label-success.pull-right Walk-In
	/ 								%td
	/ 									%strong Message body goes here
	/ 								%td
	/ 									%strong Sept3
	/ 							%tr
	/ 								%td
	/ 									%a{:href => "#"}
	/ 										%i.icon-flag
	/ 								%td
	/ 									%strong Corey Douthett
	/ 								%td
	/ 									%span.label.label-info.pull-right Other
	/ 								%td
	/ 									%strong Message body goes here
	/ 								%td
	/ 									%strong Sept3
	/ 					%p
	/ 						%a.btn.btn-primary{:href => "#"} Go
	/ 	%li.span4
	/ 		.thumbnail
	/ 			.caption
	/ 				%h4 Check-In Volunteer

	/ 				.well.pendingVol
	/ 					%table.table
	/ 						%thead
	/ 							%tr
	/ 								%th Full Name
	/ 								%th Scheduled
	/ 								%th Check In?
	/ 						%tbody
	/ 							%tr
	/ 								%td the_mark7
	/ 								%td 10:30 AM
	/ 								%td
	/ 									%button.btn-mini.btn-success.pull-right{:type => "button"}
	/ 									%i.icon-check.icon-white
	/ 							%tr
	/ 								%td ash11927
	/ 								%td 8:30 AM
	/ 								%td
	/ 									%button.btn-mini.btn-success.pull-right{:type => "button"}
	/ 									%i.icon-check.icon-white
	/ 							%tr
	/ 								%td audann84
	/ 								%td 11:30 AM
	/ 								%td
	/ 									%button.btn-mini.btn-success.pull-right{:type => "button"}
	/ 									%i.icon-check.icon-white
	/ 							%tr
	/ 								%td jr5527
	/ 								%td 7:30 AM
	/ 								%td
	/ 									%button.btn-mini.btn-success.pull-right{:type => "button"}
	/ 									%i.icon-check.icon-white
	/ 							%tr
	/ 								%td aaron_butler
	/ 								%td 6:30 AM
	/ 								%td
	/ 									%button.btn-mini.btn-success.pull-right{:type => "button"}
	/ 									%i.icon-check.icon-white
	/ 							%tr
	/ 								%td cab79
	/ 								%td 8:30 AM
	/ 								%td
	/ 									%button.btn-mini.btn-success.pull-right{:type => "button"}
	/ 									%i.icon-check.icon-white

	/ 					%p
	/ 						%a.btn.btn-large.btn-block.btn-primary{:href => "#"} Show All Scheduled 	Volunteers
	/ 	%li.span4
	/ 		.thumbnail
	/ 			.caption
	/ 				%h4 Active Volunteers

	/ 				.well.activeVol
	/ 					%table.table
	/ 						%thead
	/ 							%tr
	/ 								%th Username
	/ 								%th Time In
	/ 								%th Check Out?
	/ 						%tbody
	/ 							%tr
	/ 								%td the_mark7
	/ 								%td 10:30 AM
	/ 								%td
	/ 									%button.btn-mini.btn-danger.pull-right{:type => "button"}
	/ 									%i.icon-remove.icon-white
	/ 							%tr
	/ 								%td ash11927
	/ 								%td 8:30 AM
	/ 								%td
	/ 									%button.btn-mini.btn-danger.pull-right{:type => "button"}
	/ 									%i.icon-remove.icon-white
	/ 							%tr
	/ 								%td audann84
	/ 								%td 11:30 AM
	/ 								%td
	/ 									%button.btn-mini.btn-danger.pull-right{:type => "button"}
	/ 									%i.icon-remove.icon-white
	/ 							%tr
	/ 								%td jr5527
	/ 								%td 7:30 AM
	/ 								%td
	/ 									%button.btn-mini.btn-danger.pull-right{:type => "button"}
	/ 									%i.icon-remove.icon-white
	/ 							%tr
	/ 								%td aaron_butler
	/ 								%td 6:30 AM
	/ 								%td
	/ 									%button.btn-mini.btn-danger.pull-right{:type => "button"}
	/ 									%i.icon-remove.icon-white
	/ 							%tr
	/ 								%td cab79
	/ 								%td 8:30 AM
	/ 								%td
	/ 									%button.btn-mini.btn-danger.pull-right{:type => "button"}
	/ 									%i.icon-remove.icon-white

	/ 					%p
	/ 						%a.btn.btn-large.btn-block.btn-primary{:href => "#"} View All Active Volunteers
	/ 	%li.span4
	/ 		.thumbnail
	/ 			.caption
	/ 				%h4 Past Volunteers

	/ 				.well.pastVol
	/ 					%table.table
	/ 						%thead
	/ 							%tr
	/ 								%th Username
	/ 								%th In
	/ 								%th Out
	/ 								%th Flag?
	/ 						%tbody
	/ 							%tr
	/ 								%td the_mark7
	/ 								%td 10:30 AM
	/ 								%td 1:00 PM
	/ 								%td
	/ 									%button.btn-mini.btn-warning.pull-right{:type => "button"}
	/ 									%i.icon-flag.icon-white
	/ 							%tr
	/ 								%td ash11927
	/ 								%td 8:30 AM
	/ 								%td 3:00 PM
	/ 								%td
	/ 									%button.btn-mini.btn-warning.pull-right{:type => "button"}
	/ 									%i.icon-flag.icon-white
	/ 							%tr
	/ 								%td audann84
	/ 								%td 11:30 AM
	/ 								%td 5:00 PM
	/ 								%td
	/ 									%button.btn-mini.btn-warning.pull-right{:type => "button"}
	/ 									%i.icon-flag.icon-white
	/ 							%tr
	/ 								%td jr5527
	/ 								%td 7:30 AM
	/ 								%td 11:00 AM
	/ 								%td
	/ 									%button.btn-mini.btn-warning.pull-right{:type => "button"}
	/ 									%i.icon-flag.icon-white
	/ 							%tr
	/ 								%td aaron_butler
	/ 								%td 6:30 AM
	/ 								%td 1:00 PM
	/ 								%td
	/ 									%button.btn-mini.btn-warning.pull-right{:type => "button"}
	/ 									%i.icon-flag.icon-white
	/ 							%tr
	/ 								%td cab79
	/ 								%td 8:30 AM
	/ 								%td 3:00 PM
	/ 								%td
	/ 									%button.btn-mini.btn-warning.pull-right{:type => "button"}
	/ 									%i.icon-flag.icon-white
	/ 					%p
	/ 						%a.btn.btn-large.btn-block.btn-primary{:href => "#"} View All Past Volunteers

	/ -# if current_user.role == "volunteer"	
	/ 	%li.span4
	/ 		.thumbnail
	/ 			.caption
	/ 				%h4 Upcoming Assignments

	/ 				.well.pendingVol
	/ 					%table.table
	/ 						%thead
	/ 							%tr
	/ 								%th Time
	/ 								%th Department 
	/ 						%tbody
	/ 							- current_user.user_schedules.each do |user_schedule|
	/ 								%tr
	/ 									%td=user_schedule.department_block.start_time.readable_time 
	/ 									%td=user_schedule.department_block.department.name				

	/ - if current_user.role == "volunteer_manager"
	/ 	%li.span4
	/ 		.thumbnail
	/ 			.caption
	/ 				%h4 Upcoming Assignments

	/ 				.well.pendingVol
	/ 					%table.table
	/ 						%thead
	/ 							%tr
	/ 								%th Full Name
	/ 								%th Scheduled
	/ 								%th Check In?
	/ 						%tbody
	/ 							- if current_user.volunteer_manager
	/ 								- current_user.volunteer_manager.department_block.user_schedules.each do |user_schedule|
	/ 									%tr
	/ 										%td=user_schedule.user.full_name
	/ 										%td 10:30 AM
	/ 										%td
	/ 											%button.btn-mini.btn-success.pull-right{:type => "button"}
	/ 												%i.icon-check.icon-white
	/ 					%p
	/ 						%a.btn.btn-block.btn-primary{:href => "#"} Show All Scheduled Volunteers