.row
	.span5
		= image_tag("ggf_logo.png")

	.span6.offset1
		%br
		%br
		%br

		%h2 Resend confirmation instructions
		%br
		%p If you have not received a confirmation email, please submit this form and we'll send you another
		%br

		= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: "form-horizontal" }) do |f|
			= devise_error_messages!
			%fieldset
				.control-group
					= f.label :email, :class => 'control-label'
					.controls
						= f.email_field :email
				.form-actions
					= f.submit(:class => 'btn btn-primary', :value => "Resend")
					%br
					= render "links"