= simple_form_for([:admin, @event], html: {class: 'form-horizontal'}) do |f|
  = f.input :name
  = f.input :organisation_id, collection: Organisation.all.map { |r| [r.name, r.id] }, include_blank: false
  = f.input :assigned_to, collection: User.all.map { |r| [r.full_name, r.id] }
  = f.input :route_type, collection: [1, 2, 3], include_blank: false
  = f.input :address_line_1
  = f.input :address_line_2
  = f.input :city
  = f.input :state
  = f.input :zip
  = f.input :other, as: :text, input_html: { cols: 50, rows: 3 }
  .control-group{ class: ("error" if @event.errors[:day_of_start].any?) }
    = f.label "Event duration"
    .controls.input-daterange
      = f.input_field :day_of_start, as: :string, class: 'input-small'
      %span.add-on to
      = f.input_field :day_of_finish, as: :string, class: 'input-small'
      %span.help-inline
        = f.error :day_of_start
  = f.input :days_for_setup
  = f.input :days_for_tear_down
  .form-actions
    = f.button :submit


