.row
  .span12
    %h3
      / #{resource_name.to_s.humanize} Profile
      = "#{current_user.full_name} (#{current_user.role.camelize})"
      %br

    %p
      Charity: #{current_user.charities.first.name} - #{link_to "Change Default Charity", dashboard_user_charities_path}
    %br
    %br


    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put,:class=> 'form-horizontal' }) do |f|
      = devise_error_messages!
      %fieldset
      .control-group
        = f.label(:email, :class => 'control-label')
        .controls      
          = f.email_field :email
      .control-group
        = f.label(:cell_phone, :class => 'control-label')
        .controls     
          = f.text_field(:cell_phone, :class => 'input-xlarge focused')
      .control-group
        = f.label(:home_phone, :class => 'control-label')
        .controls     
          = f.text_field(:home_phone, :class => 'input-xlarge focused')
      .control-group
        = f.label(:secondary_email, :class => 'control-label')
        .controls      
          = f.email_field :secondary_email
          %i (If you would like to send email notifications to a second email)
      .control-group
        = f.label(:tshirt_size, :class => 'control-label')
        .controls    
          = f.select(:tshirt_size, options_for_select(User::TSHIRT_SIZES, @user.tshirt_size))
      .control-group
        = f.label(:password, :class => 'control-label')
        .controls      
          = f.password_field :password, :autocomplete => "off"
          %i (leave blank if you don't want to change it)
      .control-group
        = f.label(:password_confirmation, :class => 'control-label')
        .controls      
          = f.password_field :password_confirmation
      .control-group
        = f.label(:current_password, :class => 'control-label')
        .controls      
          = f.password_field :current_password
          %i (we need your current password to confirm your changes)
      .form-actions   
        %div= f.submit(:class => 'btn btn-primary', :value => "Save Changes")
    / %h3 Cancel my account
    / %p
    /   Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.
    / = link_to "Back", :back
