.row
  .span12
    %noscript
      .alert.alert-block.span11
        %h4.alert-heading Warning!
        %p
          You need to have
          %a{:href => "http://en.wikipedia.org/wiki/JavaScript", :target => "_blank"} JavaScript
          enabled to use this site.
  / start: Content
.row
  .span5
    = image_tag("ggf_logo.png")
  .span6.offset1
    %br

    %h2
      = succeed "Create" do
        %span.break
      your profile
    
    = simple_form_for resource, url: registration_path(:user), method: :post, html: {class: 'form-horizontal', novalidate: true}, defaults: { input_html: { class: 'input-xlarge' } } do |f|
      %fieldset
        = f.input :first_name
        = f.input :last_name
        = f.input :username
        = f.input :cell_phone
        = f.input :home_phone
        = f.input :email
        = f.input :password
        = f.input :password_confirmation
        = f.hidden_field :organisation_id, value: Organisation.first.try(:id)
        = f.input :tshirt_size, collection: User::TSHIRT_SIZES, include_blank: false
        .control-group
          = label_tag 'I certify that I am 18 years of age or older', nil, class: 'control-label'
          .controls
            = check_box_tag 'age_check'
            %br
            %hr
            =link_to "If you are under 18, or if you're registering for more than one person, click here for more information.", "http://gilroygarlicfestival.com/help/helpDocMultiAcct.html"
            %p *Note: We never share your information with ANYONE outside of the Gilroy Garlic Festival organization and will only use this information to better assist us with coordinating the event.
        .form-actions
          = f.button :submit
          %br
          = render "links"

    