%p#notice= notice

%p
  %b User:
  = @user_charity.user_id
%p
  %b Charity:
  = @user_charity.charity_id

= link_to 'Edit', edit_user_charity_path(@user_charity)
\|
= link_to 'Back', user_charities_path
