= form_for([:dashboard,@check_in], :html => {:class => 'form-horizontal'}) do |f|
  - if @check_in.errors.any?
    #error_explanation
      %h2= "#{pluralize(@check_in.errors.count, "error")} prohibited this check_in from being saved:"
      %ul
        - @check_in.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    .control-group
      = f.label("Check In Time", :class => 'control-label')
      .controls
        .input-append.bootstrap-timepicker
          =f.text_field(:created_at, value: @check_in.created_at.strftime("%I:%M %p"), class:"timepicker-precise timepicker-first input-small" )
          %span.add-on
            %i.icon-time


    .control-group
      = f.label("Check Out Time", :class => 'control-label')
      .controls
        .input-append.bootstrap-timepicker
          =f.text_field(:check_out_time, value: @check_in.check_out_time.strftime("%I:%M %p"), class:"timepicker-precise input-small" )
          %span.add-on
            %i.icon-time


  .form-actions
    = f.submit 'Save Changes', class: "btn btn-primary"

