.row-fluid
  .span12
    .span9
      %h2
        %i.halflings-icon.edit 
        Departments List

    .span3
      %br
      = link_to(new_admin_department_path) do
        %button.btn.btn-primary{:type=>"button"} 
          New Department
%br
.row
  .span9
    %table.table.table-bordered.table-striped
      %tr
        %th Name
        %th Budgeted Hours
        %th Department Manager

      - @departments.each do |department|
        %tr
          %td= link_to department.name, admin_department_path(department)
          %td= department.budgeted_hours
          - if !department.user.nil?
            %td= link_to"#{department.user.first_name} #{department.user.last_name}",  admin_user_path(department.user)
          - else
            %td
              = link_to(edit_admin_department_path(department)) do
                %button.btn.btn-small.btn-success{:type=>"button"} 
                  Assign Manager
