Hi #{@user.full_name},
%br
You have been scheduled to a block at the Gilroy Garlic Festival, 
here are the details:
%br
%br
="Department: #{@department.name}"
%br
="Block Name: #{@department_block.name}" 
%br
="Starting: #{@department_block.readable_start_time}"
%br
="Ending: #{@department_block.readable_end_time}"
%br
%br
If you want to view all your assignments or change the charity that your hours from a specific assignments are being credited to then
=link_to "click to view all your assignments", dashboard_user_schedules_path()