= simple_form_for([current_user, @subaccount], url: @subaccount.persisted? ? :user_subaccount : :user_subaccounts, html: { id: "new_subaccount", class: 'form-horizontal', method: @subaccount.persisted? ? :put : :post }) do |f|
  = f.hidden_field :master_id, value: current_user.id
  = f.input :first_name
  = f.input :last_name
  = f.input :username
  = f.input :cell_phone
  = f.input :home_phone
  = f.input :tshirt_size, collection: User::TSHIRT_SIZES, include_blank: false
  = f.input :organisation_id, collection: Organisation.all.map { |r| [r.name, r.id] }, include_blank: false
  .form-actions
    = f.button :submit
