%div{class: "modal hide fade", id: "set_subaccount_availabilities_#{index}" }
  .modal-header
    %button{ type: "button", class: "close", data: { dismiss: "modal" } }
      &times;
    %h3 Set subaccount's availabilities
  .modal-body
    %ul.days-list
      - Day.order(:date).each.with_index(9) do |day, i|
        %li
          = label_tag "data[#{index}][#{i}]", day.long_date
          = check_box_tag "data[#{index}][#{i}]"
    %button.btn.btn-success.right-floated-btn{ id: "set_availabilities", type: "button", data: { dismiss: "modal" } }
      Save