.row
  .span12
    %h1= "Availability for #{@subaccount.username}"
    .subtitle
      =@subaccount.full_name
    %br
    %table.table
      %tr
        -@days.each do |day|
          %th= "#{day.day_name} #{day.short_date}"
      %tr
        -@days.each do |day|
          %td{id: "day-#{day.id}"}
            -if day.user_available?(@subaccount)
              - availability = day.user_available_by_user(@subaccount)
              = render("user_availabilities/destroy_link", master: current_user, subaccount: @subaccount, availability: availability)
            -else
              = render("user_availabilities/form", master: current_user, subaccount: @subaccount, day: day)
      %tr
        %td= link_to 'Back', user_subaccounts_path(current_user)