.row
	.span5
		= image_tag("ggf_logo.png")

	.span6.offset1
		%br
		%br
		%br

		- flash.each do |name, msg|
			- if msg.is_a?(String)
				%div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
				= content_tag :div, msg, :id => "flash_#{name}"

		%h2 Forgot your password?
		%br
		%p If you have forgotten your password, type in your email address and we'll send you a link to reset your password.
		%br

		= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: "form-horizontal" }) do |f|
			= devise_error_messages!
			%fieldset
				.control-group
					= f.label :email, :class => 'control-label'
					.controls
						= f.email_field :email
				.form-actions
					= f.submit(:class => 'btn btn-primary', :value => "Submit")
					%br
					= render "links"