- if @user_availabilities.empty?
  .row
    .span6.help-event-setup
      %br
      %h3 Would you like to help out with set up?
      %p Event setup runs from July 21st to July 25th
      %br
      %p
        %button.btn.btn-success.yes{type:"button"} Yes
        %button.btn.btn-danger.no{type:"button"} No

  .row
    .span6.help-event-tear-down
      %br
      %h3 Would you like to help out with tear down?
      %p Event tear down runs from July 29th to August 1st
      %br
      %p
        %button.btn.btn-success.yes{type:"button"} Yes
        %button.btn.btn-danger.no{type:"button"} No

.row.time-availability-wrapper{:class => @user_availabilities.empty? ? "hidden" : ""} 
  .span6
    %br
    %h3 Add your time availability
    %p 
      - if @user_availabilities.empty?
        When you are finished click
        =link_to "here", dashboard_user_charities_path
        to choose a charity
    %br

  #accordion.accordion.span12
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#setup"}
          Event Setup
      #setup.accordion-body.collapse
        .accordion-inner
          %h4 Choose a day
          %ul.nav.nav-tabs
            - @setup_days.each_with_index do |day, index|
              %li{:class => index == 0 ? "active" : ""} 
                %a{href:"##{day.safe_short_date}", data: {toggle:"tab"}}
                  =day.short_date
          .tab-content
            - @setup_days.each_with_index do |day, index|
              .tab-pane{id: day.safe_short_date,class: index == 0 ? "active" : ""} 
                .row
                  .span5
                    %h4 Your availabilities for this day:
                    %table.table
                      %thead
                        %tr
                          %th Start Time
                          %th End Time
                          %th
                      %tbody
                        - day.user_availabilities.each do |user_availability|
                          %tr
                            %td= in_twelve_hour_time(user_availability.start_time)
                            %td= in_twelve_hour_time(user_availability.end_time)
                            %td
                              = link_to dashboard_user_availability_path(user_availability),  :method => :delete, :remote=>true, :"data-type" => "json", :class => 'remove-user-availability btn btn-mini btn-danger' do
                                Delete
                        %tr
                    = render 'form', day_id: day.id
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#festival"}
          Festival
      #festival.accordion-body.collapse
        .accordion-inner
          %h4 Choose a day
          %ul.nav.nav-tabs
            - @festival_days.each_with_index do |day, index|
              %li{:class => index == 0 ? "active" : ""} 
                %a{href:"##{day.safe_short_date}", data: {toggle:"tab"}}
                  =day.short_date
          .tab-content
            - @festival_days.each_with_index do |day, index|
              .tab-pane{id: day.safe_short_date,class: index == 0 ? "active" : ""} 
                .row
                  .span5
                    %h4 Your availabilities for this day:
                    %table.table
                      %thead
                        %tr
                          %th Start Time
                          %th End Time
                          %th
                      %tbody
                        - day.user_availabilities.each do |user_availability|
                          %tr
                            %td= in_twelve_hour_time(user_availability.start_time)
                            %td= in_twelve_hour_time(user_availability.end_time)
                            %td
                              = link_to dashboard_user_availability_path(user_availability),  :method => :delete, :remote=>true, :"data-type" => "json", :class => 'remove-user-availability btn btn-mini btn-danger' do
                                Delete
                        %tr
                    = render 'form', day_id: day.id

    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#tear-down"}
          Event Tear Down
      #tear-down.accordion-body.collapse
        .accordion-inner
          %h4 Choose a day
          %ul.nav.nav-tabs
            - @tear_down_days.each_with_index do |day, index|
              %li{:class => index == 0 ? "active" : ""} 
                %a{href:"##{day.safe_short_date}", data: {toggle:"tab"}}
                  =day.short_date
          .tab-content
            - @tear_down_days.each_with_index do |day, index|
              .tab-pane{id: day.safe_short_date,class: index == 0 ? "active" : ""} 
                .row
                  .span5
                    %h4 Your availabilities for this day:
                    %table.table
                      %thead
                        %tr
                          %th Start Time
                          %th End Time
                          %th
                      %tbody
                        - day.user_availabilities.each do |user_availability|
                          %tr
                            %td= in_twelve_hour_time(user_availability.start_time)
                            %td= in_twelve_hour_time(user_availability.end_time)
                            %td
                              = link_to dashboard_user_availability_path(user_availability),  :method => :delete, :remote=>true, :"data-type" => "json", :class => 'remove-user-availability btn btn-mini btn-danger' do
                                Delete
                        %tr
                    = render 'form', day_id: day.id
  

#confirmNextDay.modal.hide.fade
  .modal-header
    %button.close{:type=>"button", :data =>{ :dismiss =>"modal"}}
      ×
    %h3.text-error
      Warning
  .modal-body
    %p 
      We could really use your help! Are you sure you're not available at all on 
      %span
      ?
  .modal-footer
    %button.btn.btn-danger{:data => {:dismiss=>"modal"}} Yes, I'm sure
    %button.btn.btn-success{:data => {:dismiss=>"modal"}} No, I'd like to volunteer on this day