- if @user_availabilities.empty?
  .row
    .span6.help-event-setup
      %br
      %h3 Would you like to help out with set up?
      %p Event setup runs from July 20th to July 24th
      %br
      %p
        %button.btn.btn-success.yes{ type: "button" } Yes
        %button.btn.btn-danger.no{ type: "button" } No

  .row
    .span6.help-event-tear-down
      %br
      %h3 Would you like to help out with tear down?
      %p Event tear down runs from July 28th to July 30th
      %br
      %p
        %button.btn.btn-success.yes{ type: "button" } Yes
        %button.btn.btn-danger.no{ type: "button" } No

.row.time-availability-wrapper{ class: @user_availabilities.empty? ? "hidden" : "" }
  .span6
    %br
    %h3 Add your time availability
    %p 
      %strong Volunteer shifts average about 4 hours at a minimum so we ask that you volunteer at least 4 hours or more for each day you are willing to volunteer.
    %br

  #accordion.accordion.span7
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{ href: "#setup", data: { parent: "#accordion", toggle: "collapse" } }
          Event Setup
      #setup.accordion-body.collapse
        .accordion-inner
          %table.table
            %tr
              -@setup_days.each do |day|
                %th= "#{day.day_name} #{day.short_date}"
            %tr
              -@setup_days.each do |day|
                %td{id: "day-#{day.id}"}
                  -if day.user_available?(@user)
                    - availability = day.user_available_by_user(@user)
                    = render("user_availabilities/destroy_link", user: @user, availability: availability)
                  -else
                    = render("user_availabilities/form", user: @user, day: day)
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{ href: "#festival", data: { parent: "#accordion", toggle: "collapse" } }
          Festival
      #festival.accordion-body.collapse
        .accordion-inner
          %table.table
            %tr
              -@festival_days.each do |day|
                %th= "#{day.day_name} #{day.short_date}"
            %tr
              -@festival_days.each do |day|
                %td{id: "day-#{day.id}"}
                  -if day.user_available?(@user)
                    - availability = day.user_available_by_user(@user)
                    = render("user_availabilities/destroy_link", user: @user, availability: availability)
                  -else
                    = render("user_availabilities/form", user: @user, day: day)
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{ href: "#tear-down", data: { parent: "#accordion", toggle: "collapse" } }
          Event Tear Down
      #tear-down.accordion-body.collapse
        .accordion-inner
          %table.table
            %tr
              -@tear_down_days.each do |day|
                %th= "#{day.day_name} #{day.short_date}"
            %tr
              -@tear_down_days.each do |day|
                %td{id: "day-#{day.id}"}
                  -if day.user_available?(@user)
                    - availability = day.user_available_by_user(@user)
                    = render("user_availabilities/destroy_link", user: @user, availability: availability)
                  -else
                    = render("user_availabilities/form", user: @user, day: day)

    - if @user_availabilities.empty?
      %p.pull-right
        Finished and ready to select your charity affiliation?
        = link_to "Save Availability", dashboard_user_user_charities_path(@user), class: "btn btn-success pull-right"
        %br/
        %small.pull-right (Don't worry, you can always come back to this section later to edit your time availability.
    - else 
      %p.pull-right
        Finished adding your availabilities?
        = link_to "Return to Dashboard", dashboard_index_path, class: "btn btn-success pull-right"
        %br/
        %small.pull-right (Don't worry, your availabilities will automatically be saved)