= form_for @user_availability do |f|
  - if @user_availability.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_availability.errors.count, "error")} prohibited this user_availability from being saved:"
      %ul
        - @user_availability.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :day
    = f.number_field :day
  .field
    = f.label :time_block
    = f.number_field :time_block
  .field
    = f.label :user_id
    = f.number_field :user_id
  .actions
    = f.submit 'Save'
