%h1 Listing user_availabilities

%table
  %tr
    %th Day
    %th Time block
    %th User
    %th
    %th
    %th

  - @user_availabilities.each do |user_availability|
    %tr
      %td= user_availability.day
      %td= user_availability.time_block
      %td= user_availability.user_id
      %td= link_to 'Show', user_availability
      %td= link_to 'Edit', edit_user_availability_path(user_availability)
      %td= link_to 'Delete', user_availability, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User availability', new_user_availability_path
