.row
	.span9
		%h2
			= @department.name
		%p
			%b Department manager:
			- if !@department.user.nil?
				%td= "#{@department.user.first_name} #{@department.user.last_name}"
			- else
				%td Unassigned
		%p
			%b Budgeted hours:
			= @department.budgeted_hours

= link_to 'Back', departments_path
  
