= form_for @flag do |f|
  - if @flag.errors.any?
    #error_explanation
      %h2= "#{pluralize(@flag.errors.count, "error")} prohibited this flag from being saved:"
      %ul
        - @flag.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :check_in_id
    = f.number_field :check_in_id
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
