= simple_form_for [:dashboard, @flag] do |f|
  = f.input :check_in_id, wrapper_html: { class: 'field' }
  = f.input :user_id, wrapper_html: { class: 'field' }
  = f.input :description, as: :text
  .actions
    = f.button :submit
