%p#notice= notice

%p
  %b Check in:
  = @flag.check_in_id
%p
  %b User:
  = @flag.user_id
%p
  %b Description:
  = @flag.description

= link_to 'Edit', edit_flag_path(@flag)
\|
= link_to 'Back', dashboard_flags_path
