%h1 Listing charities

%table
  %tr
    %th Name
    %th Alloted hours
    %th
    %th
    %th

  - @charities.each do |charity|
    %tr
      %td= charity.name
      %td= charity.alloted_hours
      %td= link_to 'Show', charity
      %td= link_to 'Edit', edit_charity_path(charity)
      %td= link_to 'Destroy', charity, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Charity', new_charity_path
