.row
  .span5
    = image_tag("ggf_logo.png")
  .span6.offset1
    %br
    %br
    %br

    - flash.each do |name, msg|
      - if msg.is_a?(String)
        %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
          = content_tag :div, msg, :id => "flash_#{name}"

    %h2
      Sign In
    
    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f|
      = devise_error_messages!
      %fieldset
        .control-group
          = f.label(:email, :class => 'control-label')
          .controls
            = f.email_field(:email, :class => 'input-xlarge focused')
        .control-group
          = f.label(:password, :class => 'control-label')
          .controls
            = f.password_field(:password, :class => 'input-xlarge focused')
        - if devise_mapping.rememberable?
          .control-group
            .controls
              = f.check_box(:remember_me, :class => 'left-floated-check-box')
              = f.label(:remember_me, :class => 'left-floated-label')
        .form-actions
          = f.submit(:class => 'btn btn-primary', :value => "Sign In")
          %br
          = render "links"

    