.row
  .span5
    = image_tag("ggf_logo.png")
  .span6.offset1
    %br
    %br
    %br

    - flash.each do |name, msg|
      - if msg.is_a?(String)
        %div{class: "alert alert-#{name == :notice ? "success" : "error"}"}
          = content_tag :div, msg, id: "flash_#{name}"

    %h2
      Sign In

    = simple_form_for(resource, url: session_path(:user), html: { id: "sign_in", class: 'form-horizontal', novalidate: true }) do |f|
      %fieldset
        = f.input :login, required: false, autofocus: true
        = f.input :password, required: false
        - if devise_mapping.rememberable?
          = f.input :remember_me, as: :boolean, label: false, inline_label: 'Remember me'
        .form-actions
          = f.button :submit, "Sign in"
          %br
          = render "links"

    