.row
  .span6
    %h2 Departments List

  .span3.offset3
    %br
    = link_to(new_admin_department_path) do
      %button.btn.btn-primary{:type=>"button", :class => "right-floated-btn"} 
        New Department
%br
.row
  .span12
    %table.table.table-bordered.table-striped
      %tr
        %th Name
        %th Budgeted Hours (Allocated/Budgeted)
        %th 
          Block Scheduling Progress 
          %br
          (Scheduled Slots/Total Slots)
        %th Volunteer Hours Progress
        %th
        %th 

        - departments.each do |department|
          %tr
            %td= link_to department.name, admin_department_path(department)
            %td
              .progress
                .bar{:class => get_department_usage_class(department.estimate_hours_total, department.budgeted_hours), :style => "width: #{get_department_usage(department.estimate_hours_total, department.budgeted_hours)}%;"}
              #{department.estimate_hours_total.to_i} / #{department.budgeted_hours}
            %td
              .progress
                .bar{:class => get_department_usage_class(department.scheduled_count, department.total_slots), :style => "width: #{get_department_usage(department.scheduled_count, department.total_slots)}%;"}
              #{department.scheduled_count} / #{department.total_slots}
            %td= volunteer_hours[department.id].to_i
            %td= link_to 'Edit', edit_admin_department_path(department)
            %td= link_to('Delete', admin_department_path(department), :method => :delete, data: { confirm: 'Are you sure?' })
    %div.pagination-wrapper
      %div#pagination
        = paginate departments, remote: true
      %div#pagination-info
        = page_entries_info departments