.row
	.span9
		%h2
			= @charity.name

- if notice
	.row
		.alert.alert-block.span11
			%p.alert-heading= notice
			%p#notice= notice

= link_to 'Edit', edit_admin_charity_path(@charity)
\|
= link_to 'Delete', admin_charity_path(@charity), method: :delete, data: { confirm: 'Are you sure?' }
\|
= link_to 'Back', admin_charities_path
