%p#notice= notice

%p
  %b Name:
  = @charity.name

= link_to 'Edit', edit_admin_charity_path(@charity)
\|
= link_to 'Destroy', admin_charity_path(@charity), method: :delete, data: { confirm: 'Are you sure?' }
\|
= link_to 'Back', admin_charities_path
