.row
  .span12
    %h2
      = @department_block.name

- if notice
  .row
    .alert.alert-block.span11
      %p.alert-heading= notice
      %p#notice= notice
      
%p
  %b Department
  = @department_block.department.name
%p
  %b Start time:
  = @department_block.start_time.readable_time
%p
  %b End time:
  = @department_block.end_time.readable_time
%p
  %b Suggested number of workers:
  = @department_block.suggested_number_of_workers

= link_to 'Edit', edit_dashboard_department_block_path(@department_block)
\|
= link_to 'Back', dashboard_department_blocks_path
