- suggested_number_of_workers = @department_block.suggested_number_of_workers
.span12
  .row
    .span4
      .row
        %h2
          = @department_block.name

          = link_to 'Edit', edit_dashboard_department_block_path(@department_block),class: 'btn btn-mini'

        %br

        - if notice
          .alert.alert-block
            %p= notice

        %p
          %b Department
          = @department_block.department.name
        %p
          %b Start time:
          = in_twelve_hour_time(@department_block.start_time)
          \-
          = @department_block.day.short_date_with_day
        %p
          %b End time:
          = in_twelve_hour_time(@department_block.end_time)
          \-
          = @department_block.day.short_date_with_day

        %p
          %b Suggested number of volunteers:
          %span.number_of_workers= suggested_number_of_workers

      .row
        %h3 Volunteer Managers

        - if @department_block.volunteer_managers.count == 0
          .alert.alert-error
            %strong Warning!
            No Volunteer Managers Assigned
          %button.btn.btn-primary{:type=>"button", :href=> "#assign_volunteer_managers", :data => {:toggle => "modal"}}
            Assign Volunteer Managers

        - else
          %table.table.table-bordered.table-striped
            %tr
              %th Name
              %th Actions
            - @department_block.volunteer_managers.each do |volunteer_manager|
              %tr
                %td= volunteer_manager.user.full_name
                %td
                  - if @volunteer_managers[volunteer_manager.user_id].present?
                    = link_to dashboard_volunteer_manager_path(@volunteer_managers[volunteer_manager.user_id]), :confirm => 'Are you sure?', :method => :delete, :"data-type" => "json", :class => 'unassign-volunteer-manager btn btn-danger' do
                      %i.icon-remove-sign.icon-white
                      Unassign
        %br
        %br
        %hr
        %br
        =link_to "Save and Return to Blocks", dashboard_department_path(@department_block.department, anchor: @department_block.day.safe_short_date), class: "btn btn-primary"
      .row
    .span7.offset1
      .row
        %h3 Scheduled Volunteers

        %p
          %b Current Volunteer Allocation:
          - current_allocation = @department_block.users.count
          - if suggested_number_of_workers
            ="(#{current_allocation}/#{suggested_number_of_workers})"
          - else
            ="0/0"
        .progress
          - if suggested_number_of_workers
            .bar{:class => current_allocation > suggested_number_of_workers ? "bar-danger" : "", :style => "width: #{(current_allocation.to_f / suggested_number_of_workers.to_f) * 100}%;"}
          - else
            .bar{:class => "bar-danger", :style => "width: 100%;"}


        %table.table.table-bordered.table-striped.scheduled-user-table
          %tr
            %th Name
            %th Actions

          - @department_block.users.each do |user|
            %tr
              %td= user.full_name
              %td
                - if @user_schedules[user.id].present?
                  = link_to dashboard_user_schedule_path(@user_schedules[user.id]), :confirm => 'Are you sure?', :method => :delete, :"data-type" => "json", :class => 'unschedule-user btn btn-danger' do
                    %i.icon-remove-sign.icon-white
                    Unschedule
      - cache do
        .row
          %h3 Available Volunteers
          %p

          %table.table.table-bordered.table-striped.schedule-user-table.dataTables
            %thead
              %tr
                %th Name
                %th Email
                %th Availability Time
                %th.span3 User Schedules on Day
                %th Charity
                %th Role
                %th.span2 Actions
            %tbody
              - @department_block.get_user_availabilities.each do |a|
                - user_availability = a[0]
                - availability_percentage = a[1]
                %tr.info
                  %td.full_name= user_availability.user.full_name
                  %td.email= user_availability.user.email
                  %td #{in_twelve_hour_time(user_availability.start_time)} - #{in_twelve_hour_time(user_availability.end_time)}
                  %th
                    - user_availability.day.user_schedules.where("user_id = ?", user_availability.user.id).each do |user_schedule|
                      = user_schedule.department_block.start_time
                      \-
                      = user_schedule.department_block.end_time
                      %hr
                  %td= user_availability.user.charities.any? ? user_availability.user.charities.first.name : "Not Assigned"
                  %td= user_availability.user.role
                  %td
                    = form_for [:dashboard, UserSchedule.new] do |f|
                      = f.hidden_field :user_id, value: user_availability.user.id
                      = f.hidden_field :department_block_id, value: @department_block.id

                      = button_tag type: "submit", class: 'btn btn-primary' do
                        %i.icon-ok-sign.icon-white
                        Schedule


  %div{:class =>"modal hide fade", :id => "assign_volunteer_managers"}
    .modal-header
      %button{:type=>"button", :class=>"close", :data => {:dismiss=>"modal"}}
        &times;
      %h3 Assign Volunteer Managers
    .modal-body
      %p Here is a list of potential volunteer managers that are already scheduled to this block.

      %table.table.table-bordered.table-striped
        %tr
          %th Name
          %th Assign as Volunteer Manager

        - @department_block.users.each do |user|
          - if user.role == "volunteer_manager"
            %tr
              %td= user.full_name
              %td
                = form_for [:dashboard, VolunteerManager.new], html: {:"data-type" => "json"} do |f|
                  = f.hidden_field :user_id, value: user.id
                  = f.hidden_field :department_block_id, value: @department_block.id

                  = button_tag type: "submit", class: 'btn btn-success' do
                    %i.icon-ok-sign.icon-white
                    Assign
