.row
  .span12
    %h2
      = @department_block.name

    - if notice
      .row
        .alert.alert-block.span11
          %p= notice
      
    %p
      %b Department
      = @department_block.department.name
    %p
      %b Start time:
      = @department_block.start_time.readable_time
    %p
      %b End time:
      = @department_block.end_time.readable_time
    %p
      %b Suggested number of workers:
      = @department_block.suggested_number_of_workers

    = link_to 'Edit', edit_dashboard_department_block_path(@department_block)
    \|
    = link_to 'Back', dashboard_department_blocks_path

.row
  .span4
    %h2 Scheduled Users

    %table.table.table-bordered.table-striped.scheduled-user-table
      %tr
        %th Name
        %th 

      - @department_block.users.each do |user|
        %tr
          %td= user.full_name
          %td
            = link_to 'Unschedule User', dashboard_user_schedule_path(UserSchedule.where(department_block_id: @department_block.id, user_id: user.id).all), :confirm => 'Are you sure?', :method => :delete, :remote=>true, :class=>'unschedule-user', :"data-type" => "json"
.row
  .span5
    %h2 Schedule a User

    %table.table.table-bordered.table-striped.schedule-user-table
      %tr
        %th Name
        %th Availability %
        %th
        %th Availability Details  

      - get_perfect_fit_users(@department_block).each do |user|
        %tr.info
          %td.full_name= user.full_name
          %td
            100%
          %td
            Full Block
          %td 
            = form_for [:dashboard, UserSchedule.new], :remote => true, html: {:"data-type" => "json"} do |f|
              = f.hidden_field :user_id, value: user.id
              = f.hidden_field :department_block_id, value: @department_block.id

              = submit_tag 'Schedule User', :class => 'btn btn-primary'

      - get_semi_fit_users(@department_block).each do |user|
        %tr.warning
          %td.full_name= user[0].full_name
          %td
            = "#{user[2]}\%"
          %td
            - user[1].each do |event_timeslot|
              = event_timeslot.readable_short_time 
              \ -
              = EventTimeslot.find(event_timeslot.id + 1).readable_short_time
          %td 
            = form_for [:dashboard, UserSchedule.new], :remote => true, html: {:"data-type" => "json"} do |f|
              = f.hidden_field :user_id, value: user[0].id
              = f.hidden_field :department_block_id, value: @department_block.id

              = submit_tag 'Schedule User', :class => 'btn btn-primary'
