.row
  .span6
    %h2
      %i.halflings-icon.edit 
      Users List

  .span3
    %br
    = link_to(new_admin_user_path) do
      %button.btn.btn-primary{:type=>"button"} 
        New User

.row
  %br
  .span9
    %table.table.table-bordered.table-striped
      %tr
        %th Full Name
        %th Email
        %th T Shirt Size
        %th Role
        %th
        %th

      - @users.each do |user|
        %tr
          %td= link_to user.full_name, admin_user_path(user)
          %td= user.email
          %td= user.tshirt_size
          %td= user.role
          %td= link_to 'Edit', edit_admin_user_path(user)
          %td= link_to 'Delete', admin_user_path(user), :method => :delete