
.row-fluid
  .span12
    %h2
      %i.halflings-icon.edit 
      Users List

.row-fluid
  .span8
    %table.table.table-bordered.table-striped
      %tr
        %th Email
        %th First Name
        %th Last Name
        %th T Shirt Size
        %th Role
        %th
        %th
        %th

      - @users.each do |user|
        %tr
          %td= user.email
          %td= user.first_name
          %td= user.last_name
          %td= user.tshirt_size
          %td= user.role
          %td= link_to 'Show', admin_user_path(user)
          %td= link_to 'Edit', edit_admin_user_path(user)
          %td= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }
