.row
	.span9
		%h2
			%i.halflings-icon.edit 
			="#{@user.first_name} #{@user.last_name} "
		%h4
			- if !@user.charities.first.nil?
				= "#{@user.charities.first.name}"
			- else 
				%i Charity not assigned
		%br

- if notice
	.row
		.span9
			.alert.alert-block
				%p#notice= notice
				
.row
	.span9
		%p
			%b First Name:
			= @user.first_name
		%p
			%b Last Name:
			= @user.last_name
		%p
			%b Mobile Phone:
			= @user.cell_phone
		%p
			%b Last Name:
			= @user.home_phone
		%p
			%b Email:
			= @user.email
		%p
			%b Tshirt Size:
			= @user.tshirt_size
		%p
			%b User Role
			= @user.role

		= link_to 'Edit', edit_admin_user_path(@user)
		\|
		= link_to 'Delete', admin_user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }
		\|
		= link_to 'Back', admin_users_path
