.navbar.navbar-inverse.navbar-fixed-top
	.navbar-inner
		.container
			%a.btn.btn-navbar{:data=>{:toggle=>"collapse", :target=>".nav-collapse"}}
				%span.icon-bar"
				%span.icon-bar"
				%span.icon-bar"
			= link_to("Eventus", "#", :class=>"brand")

			.nav-collapse.collapse
				%ul.nav.pull-right
					%li{class: nav_link(dashboard_index_path)}
						= link_to dashboard_index_path do
							%i.icon-home
							Dashboard
					%li{class: nav_link(edit_user_registration_path)}
						= link_to edit_user_registration_path do
							%i.icon-user
							My Profile
					- if user_signed_in?
						- if can? :manage, :all
							%li{class: nav_link(admin_index_path)}
								= link_to admin_index_path do
									%i.icon-wrench
									Admin Panel
					%li
						%a{:href => "http://dev.omgmediagroup.com/ggfHelp", :target => "_blank"} 
							%i.icon-question-sign
							Help
					%li 
						= link_to("Logout", destroy_user_session_path, :method => :delete, confirm: "Are you sure you want to logout?")