!!!
%html
	%head
	%title VolunteerTracker

	= stylesheet_link_tag    "application", media: "all"
	= javascript_include_tag "application"
	= csrf_meta_tags

	%meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}/

	%body
		.container
			%noscript
				.row
					.alert.alert-block.span11
						%h4.alert-heading Warning!
						%p
							You need to have
							%a{href: "http://en.wikipedia.org/wiki/JavaScript", target: "_blank"} JavaScript
							enabled to use this site.

			.row
				- if user_signed_in?
					= render "layouts/nav"
			.row
				- if user_signed_in?
					%br
					%br
					%br

				.span12
					.alert-container
						- flash.each do |type, message|
							%a{ class: "close", data: { dismiss: "alert" } }
								&times;
							%div{ class: flash_class(type) }
								= message

	= render "layouts/ga"
