!!!
%html
	%head
	%title VolunteerTracker Admin

	= stylesheet_link_tag    "application", :media => "all"
	= javascript_include_tag "application"
	= csrf_meta_tags

	%body
		.container-fluid
      
			%noscript
				.row-fluid
					.alert.alert-block.span11
						%h4.alert-heading Warning!
						%p
							You need to have
							%a{:href => "http://en.wikipedia.org/wiki/JavaScript", :target => "_blank"} JavaScript
							enabled to use this site.
			
			.row
				.span4
					%ul.nav.nav-pills.nav-stacked
						%li
							= link_to("User Management", admin_users_path)

			= yield
