!!!
%html
	%head
	%title VolunteerTracker

	= stylesheet_link_tag    "application", :media => "all"
	= javascript_include_tag "application"
	= csrf_meta_tags

	%body
		.container
      
			%noscript
				.row
					.alert.alert-block.span11
						%h4.alert-heading Warning!
						%p
							You need to have
							%a{:href => "http://en.wikipedia.org/wiki/JavaScript", :target => "_blank"} JavaScript
							enabled to use this site.

			.row
				- if user_signed_in?
					.navbar.navbar-inverse.navbar-fixed-top
						.navbar-inner
							.container
								%a.btn.btn-navbar{:data=>{:toggle=>"collapse", :target=>".nav-collapse"}}
									%span.icon-bar"
									%span.icon-bar"
									%span.icon-bar"
								= link_to("Eventus", "#", :class=>"brand")

								.nav-collapse.collapse
									%ul.nav.pull-right
										= nav_link("Dashboard", dashboard_index_path)
										= nav_link("My Profile", edit_user_registration_path)
										- if user_signed_in?
											- if can? :manage, :all
												= nav_link("Admin Panel", admin_index_path)
										%li
											= link_to("Logout", destroy_user_session_path, :method => :delete)
			.row
				- if user_signed_in?
					%br
					%br
					%br

				.span12
					= yield
